body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    height: 2000px;
}

.background-menu {
    background-color: #3F51B5;
}

.welcome-background-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.welcome-background-video video {
    position: absolute;
    top: 0;
    left: 0;
}

.welcome-video-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
}

.login-register-box {
    margin-top: 20%;
    border-radius: 2px;
    background-color: white;
}

.img-top-profile {
    width: 24px;
    display: inline-block;
}

.register-box {
    display: none;
}

.sidebar-profile-box {
    
}

.sidebar-profile-box img.profile_image {
    width: 60%;
    text-align: center;
    margin: 1em auto;
    margin-bottom: 1.3em;
}

.select2-div img {
    width: 50px;
    display: inline-block;
    margin: 1em .3em;
}

.select2-div {
    border-bottom: 1px solid #f2f2f2;
}

.share-types .form-group {
    border-right: 1px solid #f2f2f2;
}

.share-types .form-group:last-child {
    border-right: 0px;
}

.btn-group-vertical.disabled, .btn-group-vertical:disabled, .btn-group-vertical[disabled][disabled], .btn-group.disabled, .btn-group:disabled, .btn-group[disabled][disabled], .btn.disabled, .btn:disabled, .btn[disabled][disabled], .input-group-btn .btn.disabled, .input-group-btn .btn:disabled, .input-group-btn .btn[disabled][disabled], fieldset[disabled][disabled] .btn, fieldset[disabled][disabled] .btn-group, fieldset[disabled][disabled] .btn-group-vertical, fieldset[disabled][disabled] .input-group-btn .btn {
    background-color: #59B75B;
    color: white;
}

.post-card {
    padding: 0px !important;
}

.post-card .content {
    padding: 10px;
}

.post-card .header {
    position: relative;
    min-height: 100px;
}

.post-card .header-media > button.btn-fab.btn-float {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.post-card .header-media > button.btn-fab.btn-float-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.post-card .profile-header img {
    width: 50px;
    display: inline-block;
    margin: 10px;
}

.post-card a:hover {
    text-decoration: none;
}

.post-card .profile-header span.date {
    color: grey;
    margin-top: 23px;
    font-size: 13px;
    margin-right: 5px;
}

.post-card .comments {
    background-color: #eaeaea;
    padding: 1em;
}

.post-card video {
    width: 100%;
}

.comment {
    margin: 1em 0;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: .5em;
}

.comment img {
    width: 30px;
    margin-right: 7.5px;
}

.comment p.comment-text {
    margin-left: 42.5px;
    margin-top: 5px;
    color: #444444;
}

.comment span.date {
    color: grey;
    margin-top: 23px;
    font-size: 13px;
    margin-right: 5px;
}

.user-search:hover {
    background-color: #f0f0f0 !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.user-search img {
    max-width: 75px;
    display: inline-block;
    margin: .2em 1em;
}

/* HELPERS */

.no-margin {
    margin: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.mt-10 {
    margin-top: 10px;
}